#include "/home/akhet/.config/base16-builder/output/xresources/base16-atelierplateau.dark.xresources"

!rofi colors        'bg',       'fg',       'bgalt',    'hlbg',     'hlfg'
rofi.color-normal:  base00,    base05,    base03,    base07,    base0F
!rofi.color-urgent
!rofi.color-active
rofi.color-window:  #1b1818,    #d3d3d3
